.container {
  width: 100%;
  max-width: 85rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 2rem;
}

.contenedorCounter {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 3rem 3rem 3rem 0;
  padding: 1rem 0 1rem 0;
  border-top: solid 1px #b58d53;
  border-bottom: solid 1px #b58d53;
  width: 20%;
}
.contenedorCounter > Button {
  font-size: 3.7rem;
  color: grey;
  padding: 0;
  height: 3rem;
}
.contenedorCounter > Button:hover {
  background-color: white;
}
.counter {
  font-size: 2.8rem;
  font-weight: 700;
  color: #b58d53;
}
button {
  width: 15rem;
  height: 4.5rem;
  background-color: #b58d53;
  color: white;
  border-style: none;
  font-size: 1.9rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.37s ease;
}
button:hover {
  background-color: #d7bf9c;
}
