.contenedorGrid {
  width: 100%;
  max-width: 216rem;
  margin: auto;  
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    "i1 i1 i1"
    "i2 i3 i4"
    "i2 i5 i5"
    "i6 i7 i8"
    "i9 i9 i10"
    "i11 i11 i11";
}
.imgHome {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.5s ease;
}
.imgHome:hover {
  scale: 110%;
  transition: 0.5s ease;
  filter: blur(1.5rem) grayscale(1);
}

.item1 {
  grid-area: i1;
  height: 32rem;
  overflow: hidden;
}

.item2 {
  grid-area: i2;
  height: 64rem;
  overflow: hidden;
}
.item3 {
  grid-area: i3;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 2rem;
}
.item3 p {
  font-size: 1.5rem;
  text-align: center;
  max-width: 45rem;
}
.logo {
  margin: auto;
}
.item4 {
  grid-area: i4;
  height: 32rem;
  overflow: hidden;
}
.item5 {
  grid-area: i5;
  height: 32rem;
  overflow: hidden;
}
.item6 {
  grid-area: i6;
  height: 32rem;
  overflow: hidden;
}
.item7 {
  grid-area: i7;
  height: 32rem;
  overflow: hidden;
}
.item8 {
  grid-area: i8;
  height: 32rem;
  overflow: hidden;
}
.item9 {
  grid-area: i9;
  height: 32rem;
  overflow: hidden;
}
.item10 {
  grid-area: i10;
  height: 32rem;
  overflow: hidden;
}
.footer {
  grid-area: i11;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.conceptotxt {
  font-size: 1.8rem;
  line-height: 3rem;
  text-align: center;
  color: grey;
  max-width: 75rem;
  margin: auto;
}
.contenedorInstagram {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: auto;
}
.contenedorInstagram p {
  font-size: 1.7rem;
  color: grey;
}
