.container {
  width: 100%;
  max-width: 85rem;
  margin: 2rem auto 3rem auto;
  padding: 2rem;
  background-color: bisque;
}
.headerItemDetail {
  display: flex;
  width: 100%;
  max-width: 85rem;
  justify-content: space-between;
  align-items: end;
  padding: 2rem;
  margin: 5rem auto 0 auto;
}

.headerItemDetail a {
  font-size: 1.4rem;
  color: grey;
  text-decoration: none;
  font-weight: 500;
}
